<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlink}}
    <link rel="stylesheet" href="./css/service.css">

    <title>Learn With Ayush | Courses</title>
</head>
<body>
    {{>nav}}

    <header class="service-hero" id="hero">
        <h1>Learn Skills From Experts</h1>
        <p class="service-dtl">Get the mentorship of experts that have decades of experience in leading industries</p>

        <a href="/signup" class="service-head-btn">Sign up</a>
    </header>
    <section class="about">
        <figure class="about-img">
            <img src="./img/boygirlmoney.svg" alt="">
        </figure>
        <div class="text-box">
            <h2>Fundamentals of Finance</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolores illo, voluptatem, blanditiis quisquam porro aspernatur amet corrupti, minima consequuntur at saepe delectus non facere iure a obcaecati. Temporibus placeat illo ad blanditiis doloribus consequatur ex repellat aperiam excepturi sed. Sapiente similique laudantium eaque illo magni cupiditate obcaecati impedit odit delectus odio quam, a quis omnis beatae, cum aliquid quidem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum commodi quas voluptas modi! Architecto deleniti quidem tempora libero temporibus similique totam, vero possimus fugit animi repellat perspiciatis, veritatis error voluptate</p>
            <a href="/signup" class="enroll-btn">Enroll now</a>
        </div>
    </section>
    <section class="about">
        <figure class="about-img">
            <img src="./img/boyhouse.svg" alt="">
        </figure>
        <div class="text-box">
            <h2>Real Estate Dealings</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolores illo, voluptatem, blanditiis quisquam porro aspernatur amet corrupti, minima consequuntur at saepe delectus non facere iure a obcaecati. Temporibus placeat illo ad blanditiis doloribus consequatur ex repellat aperiam excepturi sed. Sapiente similique laudantium eaque illo magni cupiditate obcaecati impedit odit delectus odio quam, a quis omnis beatae, cum aliquid quidem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum commodi quas voluptas modi! Architecto deleniti quidem tempora libero temporibus similique totam, vero possimus fugit animi repellat perspiciatis, veritatis error voluptate</p>
            <a href="/signup" class="enroll-btn">Enroll now</a>
        </div>
    </section>
    <section class="about">
        <figure class="about-img">
            <img src="./img/boygirlliberary.svg" alt="">
        </figure>
        <div class="text-box">
            <h2>Communication Skills</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolores illo, voluptatem, blanditiis quisquam porro aspernatur amet corrupti, minima consequuntur at saepe delectus non facere iure a obcaecati. Temporibus placeat illo ad blanditiis doloribus consequatur ex repellat aperiam excepturi sed. Sapiente similique laudantium eaque illo magni cupiditate obcaecati impedit odit delectus odio quam, a quis omnis beatae, cum aliquid quidem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum commodi quas voluptas modi! Architecto deleniti quidem tempora libero temporibus similique totam, vero possimus fugit animi repellat perspiciatis, veritatis error voluptate</p>
            <a href="/signup" class="enroll-btn">Enroll now</a>
        </div>
    </section>
    <section class="about">
        <figure class="about-img">
            <img src="./img/laptopmobile.svg" alt="">
        </figure>
        <div class="text-box">
            <h2>Micro Electronics</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolores illo, voluptatem, blanditiis quisquam porro aspernatur amet corrupti, minima consequuntur at saepe delectus non facere iure a obcaecati. Temporibus placeat illo ad blanditiis doloribus consequatur ex repellat aperiam excepturi sed. Sapiente similique laudantium eaque illo magni cupiditate obcaecati impedit odit delectus odio quam, a quis omnis beatae, cum aliquid quidem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum commodi quas voluptas modi! Architecto deleniti quidem tempora libero temporibus similique totam, vero possimus fugit animi repellat perspiciatis, veritatis error voluptate</p>
            <a href="/signup" class="enroll-btn">Enroll now</a>
        </div>
    </section>
    <section class="about">
        <figure class="about-img">
            <img src="./img/girloffice.svg" alt="">
        </figure>
        <div class="text-box">
            <h2>Management</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolores illo, voluptatem, blanditiis quisquam porro aspernatur amet corrupti, minima consequuntur at saepe delectus non facere iure a obcaecati. Temporibus placeat illo ad blanditiis doloribus consequatur ex repellat aperiam excepturi sed. Sapiente similique laudantium eaque illo magni cupiditate obcaecati impedit odit delectus odio quam, a quis omnis beatae, cum aliquid quidem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum commodi quas voluptas modi! Architecto deleniti quidem tempora libero temporibus similique totam, vero possimus fugit animi repellat perspiciatis, veritatis error voluptate</p>
            <a href="/signup" class="enroll-btn">Enroll now</a>
        </div>
    </section>
    <section class="about">
        <figure class="about-img">
            <img src="./img/manson.svg" alt="">
        </figure>
        <div class="text-box">
            <h2>Parenting</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolores illo, voluptatem, blanditiis quisquam porro aspernatur amet corrupti, minima consequuntur at saepe delectus non facere iure a obcaecati. Temporibus placeat illo ad blanditiis doloribus consequatur ex repellat aperiam excepturi sed. Sapiente similique laudantium eaque illo magni cupiditate obcaecati impedit odit delectus odio quam, a quis omnis beatae, cum aliquid quidem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum commodi quas voluptas modi! Architecto deleniti quidem tempora libero temporibus similique totam, vero possimus fugit animi repellat perspiciatis, veritatis error voluptate</p>
            <a href="/signup" class="enroll-btn">Enroll now</a>
        </div>
    </section>



    {{>footer}}

    <script src="./js/nav.js"></script>
</body>
</html>