<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlink}}
    <link rel="stylesheet" href="./css/exclusive.css">


    <title>Learn With Ayush | Exclusive</title>
</head>
<body>
    {{>nav}}


    <main class="cont">
        <img class="main-img" src="./img/ayush.jpg" alt="">
        <h1>Exclusive Content</h1>
    </main>




    {{>footer}}
    <script src="./js/nav.js"></script>
</body>
</html>