<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlink}}

    <link rel="stylesheet" href="./css/main1.css">

    <title>Learn With Ayush | Home</title>
</head>
<body>
    {{>nav}}

    <header class="header-hero" id="hero">
        <h1>Welcome To Learn With Ayush</h1>
        <p class="heading-dtl">A platform where thousands of people have learnt demanding skills</p>

        <a href="/courses" class="head-btn">Read More</a>
    </header>
    <section id="about" class="about">
        <figure class="about-img">
            <img src="./img/boyoffice.svg" alt="">
        </figure>
        <div class="text-box">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolores illo, voluptatem, blanditiis quisquam porro aspernatur amet corrupti, minima consequuntur at saepe delectus non facere iure a obcaecati. Temporibus placeat illo ad blanditiis doloribus consequatur ex repellat aperiam excepturi sed. Sapiente similique laudantium eaque illo magni cupiditate obcaecati impedit odit delectus odio quam, a quis omnis beatae, cum aliquid quidem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum commodi quas voluptas modi! Architecto deleniti quidem tempora libero temporibus similique totam, vero possimus fugit animi repellat perspiciatis, veritatis error voluptate</p>
        </div>
    </section>
    {{>footer}}

    <script src="./js/nav.js"></script>
</body>
</html>