    <nav>
        <figure class="logo">
            <img src="./img/logo4.svg" alt="logo" class="logo">
        </figure>
        <div id="ham-burger" class="ham-burger">
            <span class="ham-item"></span>
            <span class="ham-item"></span>
            <span class="ham-item"></span>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/exclusive">Exclusive</a></li>
            <li><a href="/signin">Sign in</a></li>
            <li><a href="/logout">Log out</a></li>
            <li><a href="/signup">Sign up</a></li>
        </ul>
    </nav>